<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PupPal | For You and Your Pal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <a href="/main"><img src="images/logo.png" alt="PupPal logo" class="logo"></a>
      <nav>
        <ul>
          <li><a class="btn btn-default" href="/login">Login</a></li>
          <li><a class="btn btn-default" href="/signup">Signup</a></li>
        </ul>
      </nav>
    </header>
    <div class="container text-center">
