<% include includes/header.ejs %>
<div class="text-center">
      <h1>PupPal</h1>

      <p>Getting you and your pal off to a good start</p>
      <ul>
        <li><a class="btn btn-default" href="/login">Login</a></li>
        <li><a class="btn btn-default" href="/signup">Signup</a></li>
      </ul>

  </div>
<% include includes/footer.ejs %>
