<% include includes/header.ejs %>
<div class="text-center">
      <h1>PupPal</h1>

      <p>Getting you and your pal off to a good start</p>
      <p>Login or Register with:</p>

        <a href="/auth/google" class="btn google-sign-in">Google</a>

  </div>
<% include includes/footer.ejs %>
