<% include includes/header.ejs %>
<h2>Onboarding</h2>
<div class="questions">
  <form class="user-info">
    <input type="text" id="pal-name" placeholder="Your Name">
    <input type="text" id="pup-name" placeholder="Dog's Name">
    <button class="btn submit">Submit</button>
  </form>
</div>
<% include includes/footer.ejs %>
