body {
    padding-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
}

nav {
    float: right;
    margin-right: 20px;
}

.logo {
    width: 150px;
    margin-left: 20px;
}

.logo:hover {
    background: #33658a;
}

.btn {
    text-decoration: none;
    background-color: #33658a;
    color: #e0fbfc;
    padding: 10px 50px;

    border: none;
}

button {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}

button:focus {
    outline: none;
}

.delete-trick {
    display: none;
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

.delete-trick:hover {
    background: red;
}

.selected {
    background-color: #787674
}

.submit {
    display: block;
    margin: 10px auto;
}

section {
    display: none;
    margin-top: 10px;
}

article {
    display: none;
}

p {
    margin-top: 10px;
}

.trick-name {
    text-align: center;
    padding: 15px;
    margin: 10px auto;
}

.trick {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
}

.trick-container {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 10px 2%;
}

.template {
    display: none;
}

.meal {
    box-sizing: border-box;
    width: 94%;
    height: 100px;
    margin: 10px 2%;
}

.progress-bar {
    width: 100%;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: -1px;
    border-radius: 0 0 5% 5%;
}

.trick-name {
    margin-right: 30px;
}

.pet-care-button {
    margin: 15px;
    padding: 10px;
}

.google-sign-in {
    background-color: #dd4b39;
    margin-top: 20px;
}

body {
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/dogs.jpeg');
    color: white;
}

.pet-care li {
  color: black;
}

.pet-care a {
  color: red;
}

/*Tablet/Small laptop*/

@media (max-width: 850px) {
    .trick-container {
        width: 45%
    }
    .container {
      margin-left: 20px;
      margin-right: 20px;
    }
}


/*Mobile*/

@media (max-width: 500px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
    .trick-container {
        width: 100%
    }
    .delete-trick {
        display: block;
    }
    .trick-name {
        width: 80%;
        margin: auto;
    }
    .add-trick {
        margin-top: 10px;
    }
}
