body {
  padding-top: 70px;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: inline-block;
}
nav {
  float: right;
  margin-right: 20px;
}
.logo {
  width: 150px;
  margin-left: 20px;
}
.logo:hover {
  background: #33658a;
}
.btn {
  text-decoration: none;
  background-color: #33658a;
  color: #e0fbfc;
  padding: 4px 10px;
}
.submit {
  display: block;
  margin: 10px auto;
}

.trick {
  box-sizing: border-box;
  height: 100px;
  width: 20%;
  margin: 10px 2%;
  position: relative;
}

.meal {
  box-sizing: border-box;
  width: 94%;
  height: 100px;
  margin: 10px 2%;
}

.progress-bar {
  width: 100%;
  height: 25px;
  position: absolute;
  right: 0;
  bottom: -1px;
  border-radius: 0 0 5% 5%;
}
