body {
    padding-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
}

nav {
    float: right;
    margin-right: 20px;
}

.logo {
    width: 150px;
    margin-left: 20px;
}

.logo:hover {
    background: #33658a;
}

.btn {
    text-decoration: none;
    background-color: #33658a;
    color: #e0fbfc;
    padding: 10px 50px;
}

button {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}

button:focus {
    outline: none;
}

.delete-trick {
    display: none;
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

.delete-trick:hover {
    background: red;
}

.selected {
    background-color: #787674
}

.submit {
    display: block;
    margin: 10px auto;
}

section {
    display: none;
    margin-top: 10px;
}

article {
    display: none;
}

p {
    margin-top: 10px;
}

.trick {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
}

.trick-container {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 10px 2%;
}

.template {
    display: none;
}

.meal {
    box-sizing: border-box;
    width: 94%;
    height: 100px;
    margin: 10px 2%;
}

.progress-bar {
    width: 100%;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: -1px;
    border-radius: 0 0 5% 5%;
}

.trick-name {
    margin-right: 30px;
}
